<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.user.mapper.CollectMapper">
    <select id="findCollectList" resultType="com.shop.user.modal.Collect" parameterType="map">
        SELECT * FROM `collect` LIMIT ${start},${size}
    </select>

    <select id="findCollectCount" resultType="int" parameterType="map">
        SELECT COUNT(1) FROM `collect`
    </select>

    <insert id="addCollect" parameterType="com.shop.user.modal.Collect">
        INSERT INTO `collect` VALUES(NULL,#{sid},#{bid},#{type},NOW(),#{collectState},#{phone},NULL)
    </insert>

    <delete id="deleteCollect" parameterType="int">
        DELETE FROM `collect` WHERE id=#{coid}
    </delete>

    <select id="getCollectPhone" resultType="com.shop.user.modal.Collect" parameterType="String">
        SELECT * FROM `collect` WHERE phone=#{phone}
    </select>

</mapper>